.badge {
  display: inline-block;
  min-width: 96px;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.07px;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  margin-right: 20px;
}

.badge.badge-complited {
  background-color: #a461d8;
}

.badge.badge-ended {
  background-color: #fc5a5a;
}

.badge.badge-active {
  background-color: #82c43c;
}
